---
import { Head } from 'astro-capo'
import { cannonicalURL } from '@constants/seo'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
import { ViewTransitions } from 'astro:transitions'
const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)

interface Props {
  title?: string
}

const { title = t('header.title') } = Astro.props

const ogTitle = title.replace(`${t('header.title')} | `, '')

const ogUrlImg = `${Astro.url.origin}/api/og.png?text=${ogTitle}&lang=${currentLang}&subtitle=${ogTitle !== title}`

const localeCode = {
  es: 'es_ES',
  en: 'en_US'
}
---

<Head>
  <meta charset="utf-8" />

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="canonical" href={cannonicalURL} />
  <meta
    name="keywords"
    content="nebrija, fp, fp nebrija, proyectos solidarios, dam, daw, asir, solidarity projects, metaemocion, nebrijas adventure, 3dom"
  />
  <meta name="description" content={t('meta.desc')} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={t('meta.desc')} />
  <meta name="twitter:image" content={ogUrlImg} />

  <meta property="og:image" content={ogUrlImg} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={t('meta.desc')} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content={localeCode[currentLang]} />

  <ViewTransitions />
</Head>
