---
import { Image } from "astro:assets";
import testingImg from "../images/testImg.jpg";

const { name, links, isManager } = Astro.props;
---

<li class="card">
  <Image src={testingImg} alt={`Foto de perfil de ${name}`} width={280} height={300} />
  <h3>{name}</h3>
  <ul class="links">
    {
      Object.keys(links)
        .sort()
        .map((linkName) => (
          <li>
            <a href={links[linkName]}>
              <img
                src={`/icons/${linkName}.svg`}
                alt={`Icono de ${linkName}`}
              />
            </a>
          </li>
        ))
    }
  </ul>
</li>

<style>
  h3 {
    font-weight: 400;
    font-size: 24px;
  }

  a {
    text-decoration: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
  }

  .card > img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .links {
    gap: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }

  .links li {
    width: 40px;
  }

  .links img {
    width: 100%;
    fill: red;
  }

  @media (width <= 1200px) {
    .card {
      width: 100%;
    }
  }

  @media (width <= 800px) {
    .card {
      width: 100%;
    }
  }
</style>
