---
import Image from 'astro/components/Image.astro'
import { getEnv } from 'src/helpers/getEnv'
import type { SingleNews } from 'src/types/types'

interface Props {
  news: SingleNews[]
}

const { news } = Astro.props

const { CMS_URL } = getEnv()
---

<ol class="content">
  {
    news.map(({ image, date, name }) => (
      <li>
        <a href="#">
          <Image
            src={CMS_URL + image.url}
            alt={image.alt}
            width={image.width}
            height={image.height}
          />
          <div class="title-container">
            <h3>{name}</h3>
            <span>{date.toLocaleDateString()}</span>
          </div>
        </a>
      </li>
    ))
  }
</ol>

<style>
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  img {
    object-fit: cover;
  }

  ol {
    margin-top: 100px;
    padding: 0;
    width: 100%;
    display: grid;
    grid-auto-rows: 150px;
    column-gap: 45px;
    row-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
  }

  ol li {
    grid-column: 1 / 13;
  }

  ol li img {
    width: 250px;
    height: 100%;
  }

  a {
    text-decoration: none;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
  }

  ol li:nth-child(1) {
    grid-column: span 7;
    grid-row: 1 / 4;
  }

  ol li:nth-child(1) a {
    flex-direction: column;
    justify-content: space-between;
  }

  ol li:nth-child(1) img {
    height: 325px;
    width: 100%;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) {
    grid-column: 8 / 13;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) a {
    justify-content: space-between;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) a img {
    height: 150px;
    width: 150px;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) a h3 {
    font-size: 5rem;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) a span {
    font-size: 4rem;
  }

  ol li:nth-child(n + 2):nth-child(-n + 4) a .title-container {
    display: flex;
    flex-direction: column;
  }

  ol li:not(:has(:nth-child(2))) {
    grid-column: span 12;
  }

  h3,
  span {
    margin: 0;
  }

  h3 {
    text-align: center;
    font-size: 8rem;
    font-weight: 400;
    max-width: 15ch;
  }

  span {
    font-weight: 400;
    font-size: 4rem;
    opacity: 0.7;
  }

  ol li a {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  a:hover img {
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 15px);
    transform: scale(1.05);
  }

  html[class='dark'] a:hover img {
    filter: drop-shadow(rgba(99, 99, 99, 0.2) 0px 5px 15px);
  }

  ol li img {
    transition:
      filter 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    border-radius: 15px;
  }
</style>
