---
import { Image } from 'astro:assets'
import BaseLayout from './BaseLayout.astro'
import Link from '@icons/Link.astro'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
import type { PhotoData } from 'src/types/types'

interface Props {
  title: string
  slug: string
  img: PhotoData
  dateStart: Date
  dateEnd: Date
  webLink: string
}

const { title, img, dateStart, dateEnd, webLink, slug } = Astro.props

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)
---

<BaseLayout title={`${t('title')} | ${title}`}>
  <div class="content">
    <header>
      <h2 transition:name={`project-year-${slug}`}>
        {dateStart.getFullYear()}/{dateEnd.getFullYear()}
      </h2>
      <Image
        src={img.url}
        width={img.width}
        height={img.height}
        alt={img.alt ?? ''}
        transition:name={`project-img-${slug}`}
      />
      <div class="header-title">
        <h1 transition:name={`project-title-${slug}`}>{title}</h1>
        {
          webLink && (
            <a href={webLink} target="_blank" id="webLink">
              <Link />
            </a>
          )
        }
      </div>
    </header>
    <slot />
  </div>
</BaseLayout>

<style is:global>
  header {
    margin-bottom: 75px;
  }

  .content header h2 {
    text-align: center;
    font-weight: 500;
  }

  .content header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .content header h2 {
    margin: 0;
    font-weight: 400;
    font-size: 8rem;
  }

  .content header img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    height: 375px;
    margin: 0;
  }

  .content > img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 50px auto;
    border-radius: 20px;
    object-fit: cover;
    height: 500px;
    width: 100%;
  }

  .header-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  .header-title h1 {
    margin: 0;
  }

  #webLink {
    position: absolute;
    right: -80px;
  }

  .header-title svg {
    height: 48px;
    width: 48px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    text-align: center;
    max-width: 20ch;
    margin: 75px auto;
  }

  h1,
  h2 {
    font-size: 10rem;
    line-height: 10rem;
  }

  h3 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h5,
  h4 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h6 {
    font-size: 4rem;
    line-height: 4rem;
  }

  ul,
  ol,
  p,
  blockquote {
    text-wrap: pretty;
    line-height: 4.5rem;
    font-size: 3rem;
  }

  blockquote {
    margin-left: 0;
    padding-left: 20px;
    border-left: 5px solid var(--secondary-color);
  }

  blockquote p {
    opacity: 0.7;
  }

  @media (width <= 800px) {
    h1,
    h2 {
      font-size: 7rem;
      line-height: 7rem;
    }

    h3 {
      font-size: 6rem;
      line-height: 6rem;
    }

    h5,
    h4 {
      font-size: 4rem;
      line-height: 4rem;
    }

    h6 {
      font-size: 2rem;
      line-height: 2rem;
    }

    #webLink {
      right: 0;
      position: relative;
    }

    .header-title {
      display: flex;
      gap: 25px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
</style>
